<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/jpg" href="images/logo/mictra_tr.png"/>
  <title>Mictra Impact Limited | About</title>
  <link href="//fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,600;0,700;1,400&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/css/style-starter.css">
</head>

<body>
   <!--header-->
  <header id="site-header" class="fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark stroke">
        <h1><a class="navbar-brand" href="/">
          <!-- <span class="sub-log">In</span>dustrie -->
        </a></h1>
      <a class="navbar-brand" href="/">
          <img src= "images/logo/mictra_tr.png" style="height:120px;"/>
      </a>
        <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
          <span class="navbar-toggler-icon fa icon-close fa-times"></span>
          </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mx-lg-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about">About Us</a>
            </li>
           <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a>
            </li>           
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="top-quote ml-lg-4 mt-lg-0 mt-3">
              <a href="tel: +2347033646059" class="btn btn-style btn-primary">+2347033646059</a>
            </li>
          </ul>
        </div>
        <!-- toggle switch for light and dark theme -->
       
        <div class="mobile-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container py-1">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
        <!-- //toggle switch for light and dark theme -->
      </nav>
    </div>
  </header>
  <!--/header-->

  <div class="inner-banner">
  </div>
  <section class="w3l-breadcrumb">
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li><a href="/">Home</a></li>
        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> About Us</li>
      </ul>
    </div>
  </section>
  <!--/about-->
  <!--/w3l-ab-->
  <div class="w3l-cwp4-sec py-5">
    <div class="container py-md-5 py-3">
      <div class="cwp4-two row align-items-center">
        <div class="cwp4-image col-lg-5 pr-lg-5 mb-lg-0 mb-5">
            <img src="images/trash.jpg" class="img-fluid" alt="">
            </br></br>
            <img src="images/office_fumigation.jpg" class="img-fluid" alt="">
            </br></br>
            <img src="images/mictra_service3.jpg" class="img-fluid" alt="">
        </div>
        <div class="cwp4-text col-lg-6">
          <h6 class="sub-titlehny">Get to Know Us</h6>
          <h3 class="hny-title"><font color="#006400">Vision</font></h3>
          <p>To be a leader in the development, implementation, and maintenance of innovative and sustainable waste reduction, recycling and collection services within an engaged community.</p>
          </br></br>
          <h3 class="hny-title"><font color="#006400">Mission</font></h3>
          <p>To ensure the delivery of an integrated, cost-effective, and environmentally sound solid waste management system, and to promote sustainable community programs and policies throughout Nigeria.</p></br></br>
          <p>MICTRA IMPACT LIMITED is an ethically-motivated industrial waste disposal company. We have pledged to play a practical role in protecting the environment for future generations both through our commercial activities and our domestic working practices. We operate in all sectors of the economy.
          We accept that waste is an inevitable by-product from industry but believe that its proper disposal within the confines of our ‘enclosed’ planet is a major factor in determining the quality and sustainability of our environment. We believe that a ‘discard at will’ attitude is not sustainable and we seek to develop our expertise in the managed collection and re-use of valuable raw materials.
</p>
          <ul class="cont-4 mt-lg-5 mt-4">
            <li><span class="fa fa-check-circle-o"></span> <font color="#006400">Quality Control System, 100% Satisfaction Guarantee</font></li>
            <li><span class="fa fa-check-circle-o"></span> <font color="#006400">Highly Professional Staff, Accurate Testing Processes</font></li>
            <li><span class="fa fa-check-circle-o"></span> <font color="#006400">Unrivalled workmanship, Professional and Qualified</font></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--/w3l-ab-->
  <!--/w3l-ab-features-->
  <!--//-->
  <!--/w3l-faq-block-->
  <div class="w3l-faq-block py-5" id="faq">
    <div class="container py-lg-4">
      <div class="row mt-5">
        <div class="col-lg-6">
          <div class="faq-image">
            <img src="images/greener.webp" class="img-fluid" alt="">
            </br></br>
          </div>
        </div>
        <div class="col-lg-6 mt-lg-0 mt-5 pl-lg-5">
          <h6 class="sub-titlehny">Our Advanatge</h6>
          <h3 class="hny-title">
            <font color="#006400">MICTRA IMPACT ADVANTAGE</font> </h3>
          <p class="my-3"> Our competitive advantage includes following:</p>
          <section class="w3l-faq mt-5" id="faq">
            <div class="faq-page">
              <ul>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h4><font color="#006400">Understanding your needs</font></h4>
                  <p>The Mictra Impact full-service approach begins with evaluating the unique waste management needs of your organization. We will help you to recycle, process, and treat various waste materials and help to increase your logistical efficiency throughout the process.
                  </p>
                </li>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h4><font color="#006400">Customer designed approach</font></h4>
                  <p>Each customer is unique. Therefore, we approach your individualized needs with our decades-long expertise; handling all parts of the waste management processes and complexities. Our priority is simplifying your experience of waste management while meeting your economic and environmental goals.</p>
                </li>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h4><font color="#006400">Optimizing our impact</font></h4>
                  <p>In these times especially, we place a very high value on the importance of meeting both economic and environmental goals; and won't compromise on either one. Our focus on safety, collaboration, transparency, and responsibility will form the foundations of how we approach your waste management needs to deliver efficient, safe, and earth-friendly management services.</p>
                </li>
              </ul>
            </div>
            <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="/contact"> Contact Us</a>
          </section>
        </div>
      </div>
    </div>

  </div>
  <!--//w3l-faq-block-->
    
  <!--/team-sec-->
  <section class="w3l-team">
    <div class="team py-5">
      <div class="container py-md-5 py-3">
        <div class="header-section text-center mx-auto">
          <h6 class="sub-titlehny">Value and Excellence</h6>
          <h3 class="hny-title"><font color="#006400">COMPLIANCE WITH LEGAL REQUIREMENTS</font></h3>
          <p class="my-3">MICTRA IMPACT LIMITED delivers sustainable services and solutions to industrial and domestic homes. Our stakeholders value us for our quality and seamless delivery.</p>
          </div>
          <div class="row team-row pt-3 mt-5">
            <div class="col-lg-3 col-sm-6 team-wrap">
              <div class="team-info">
                <div class="column position-relative img-circle">
                  <a href="images/About1.jpg"><img src="images/About1.jpg" alt="" class="img-fluid" /></a>
                </div>
              </div>
            </div>
            <!-- end team member -->
            <div class="col-lg-3 col-sm-6 team-wrap mt-sm-0 pt-sm-0 mt-4 pt-2">
              <div class="team-info">
                <div class="column position-relative img-circle">
                  <a href="images/About2.jpg"><img src="images/About2.jpg" alt="" class="img-fluid" /></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 team-wrap mt-sm-0 pt-sm-0 mt-4 pt-2">
              <div class="team-info">
                <div class="column position-relative img-circle">
                  <a href="images/About3.jpg"><img src="images/About3.jpg" alt="" class="img-fluid" /></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 team-wrap mt-sm-0 pt-sm-0 mt-4 pt-2">
              <div class="team-info">
                <div class="column position-relative img-circle">
                  <a href="images/About4.jpg"><img src="images/About4.jpg" alt="" class="img-fluid" /></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 team-wrap mt-sm-0 pt-sm-0 mt-4 pt-2">
              <div class="team-info">
                <div class="column position-relative img-circle">
                  <a href="images/About5.jpg"><img src="images/About5.jpg" alt="" class="img-fluid" /></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 team-wrap mt-sm-0 pt-sm-0 mt-4 pt-2">
              <div class="team-info">
                <div class="column position-relative img-circle">
                  <a href="images/About6.jpg"><img src="images/About6.jpg" alt="" class="img-fluid" /></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 team-wrap mt-sm-0 pt-sm-0 mt-4 pt-2">
              <div class="team-info">
                <div class="column position-relative img-circle">
                  <a href="images/About1.jpg"><img src="images/About1.jpg" alt="" class="img-fluid" /></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 team-wrap mt-sm-0 pt-sm-0 mt-4 pt-2">
              <div class="team-info">
                <div class="column position-relative img-circle">
                  <a href="images/About2.jpg"><img src="images/About2.jpg" alt="" class="img-fluid" /></a>
                </div>
              </div>
            </div>
            <!-- end team member -->
          </div>
        </div>
      </div>
  </section>
  <!--//team-sec-->


   <!--//w3l-footer-29-main-->
  <section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
      <div class="container py-lg-4">
        <div class="row footer-top-29">
          <div class="footer-list-29 col-lg-4">
            <h6 class="footer-title-29">About MIL</h6>
            <p>MICTRA IMPACT LIMITED (MIL) is an indigenous company that provides a combination of environmental management system to maximize resource value, while minimizing - and even eliminating - environmental impact so that both our economy and our environment can thrive.</p>
            <div class="main-social-footer-29 mt-4">
              <a href="https://facebook.com/mictra" class="facebook"><span class="fa fa-facebook"></span></a>
              <a href="https://twitter.com/mictra" class="twitter"><span class="fa fa-twitter"></span></a>
              <a href="https://instagram.com/mictra" class="instagram"><span class="fa fa-instagram"></span></a>
              <a href="https://linkedin.com/mictra" class="linkedin"><span class="fa fa-linkedin"></span></a>
            </div>
          </div>

           <div class="col-lg-2 col-md-6 col-sm-4 footer-list-29 footer-2 mt-lg-0 mt-5">

            <ul>
              <h6 class="footer-title-29">Navigate</h6>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/projects"> Projects</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-list-29 footer-3 mt-lg-0 mt-5">

            <ul>
              <h6 class="footer-title-29">Our Services</h6>
              <li><a href="/services">Proper Waste disposal</a></li>
              <li><a href="/services">Waste recycling</a></li>
              <li><a href="/services">Industrial/domestic cleaning services</a></li>
              <li><a href="/services">Fumigation Services</a></li>
            </ul>

          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 footer-list-29 footer-1 mt-lg-0 mt-5">
            <h6 class="footer-title-29">Contact Us</h6>
            <ul>
              <li>
                <p><span class="fa fa-map-marker"></span>117, Jakpa Road, Besides Standard High School, Effurun, Delta State.</p>
              </li>
              <li><a href="tel:+2347033646059"><span class="fa fa-phone"></span></br> +234-703-364-6059</a></li>
              <li><a href="mailto:mictraenvironmentalcleaners@gmail.com" class="mail"><span class="fa fa-envelope-open-o"></span>
                  mictraenvironmentalcleaners@gmail.com</a></li>
            </ul>
          </div>
          
          </div>
        </div>
      </div>
    </div>
  </section>

 
  <section class="w3l-footer-29-main w3l-copyright">
    <div class="container">
      <div class="bottom-copies">
        <p class="copy-footer-29 text-center">© <span id="date"></span> | <span> Mictra Impact Limited. All rights reserved.</p>
      </div>
    </div>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      <span class="fa fa-angle-up"></span>
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </section>
  
  <!-- Template JavaScript -->
  <script src="js/jquery-3.3.1.min.js"></script>

  <!-- script for testimonials -->
  <script>
    $(document).ready(function () {
      $('.owl-testimonial').owlCarousel({
        loop: true,
        margin: 0,
        nav: true,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: true
          },
          1000: {
            items: 1,
            nav: true
          }
        }
      })
    })
  </script>
  <!-- //script for testimonials -->

  <script src="js/theme-change.js"></script>

  <!-- js for portfolio lightbox -->
  <!-- libhtbox -->
  <script src="js/lightbox-plus-jquery.min.js"></script>
  <!-- libhtbox -->
  <script src="js/owl.carousel.js"></script>
  <!-- script for banner slider-->
  <script>
    $(document).ready(function () {
      $('.owl-one').owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: true
          },
          1000: {
            items: 1,
            nav: true
          }
        }
      })
    })
  </script>
  <!-- //script -->

  <!-- stats number counter-->
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.countup.js"></script>
  <script>
    $('.counter').countUp();
  </script>
  <!-- //stats number counter -->

  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->

  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->
  <script>
      document.getElementById('date').innerHTML = new Date().getFullYear();
  </script>
  <script src="js/bootstrap.min.js"></script>

</body>
</html>